body {
}

.image_cover {
    height: 100px;
    width: 100%;
}

.address_main {
    font-size: 24px;
    font-weight: 600;
}

.address_subtitle {
    font-size: 24px;
    font-weight: 500;
}

.top_summary {
    margin-top: 16px;
}

.top_summary_container {
    display: flex;
    flex-wrap: wrap;
    margin-block-start: 8px;
}

    .top_summary_container > i {
        margin-left: 8px;
        margin-top: 4px;
        font-size: 14px;
    }

.summary_item {
}

.summary_separator_item {
    margin-left: 16px;
    margin-right: 16px;
}

.price_container {
    font-size: 24px;
    margin-top: 24px;
}

.description_title {
    margin-top: 24px;
    font-size: 18px;
}

.top-row {
    border-bottom: 1px solid #d6d5d5;
    width: 60%;
}

.description_text {
    width: 60%;
}

.specification_title {
    margin-top: 24px;
    font-size: 18px;
}

.specification_container {
    display: flex;
    flex-wrap: wrap;
    width: 60%;
}

.specification_item {
    width: 200px;
}

.additional_data_title {
    margin-top: 24px;
    font-size: 18px;
}

.additional_data_container {
}
