@page "/pictures"

@for (var i = 1; i < 22; i++)
{
    var name = $"image{i}.jpeg";

    <div class="responsive">
        <div class="gallery">
            <a target="_blank" href="@name">
                <img src="images/home/@name" alt="Mountains" width="600" height="400">
            </a>
            <div class="desc">Add a description of the image here</div>
        </div>
    </div>
}

@code {

}
