@page "/contact"

<div class="profile_card_container">
    <div class="profile-circle">
        <img src="images/me.jpg" alt="" class="profile-image" />
        <div class="profile-overlay">
            <div class="contact_name_container">אייל קאפח</div>
            <div class="mobile_title_container">נייד</div>
            <div class="mobile_container">052-3380320</div>
            <br />
        </div>
    </div>
</div>
@code
{

}
